<form #empRegForm="ngForm" (ngSubmit)="empRegFormSave(empRegForm)">
	<div ngModelGroup="empreggroup"  #empreggroup="ngModelGroup">
		<div *ngIf="!empreggroup.valid">
			<!-- Validation performed based on the ngModelGroup -->
			Please fill the below form without errors.
		</div>
		<div class="form-group">
			<label for="empName"> Name </label>
			<input id="empName" type="text" class="form-control"
				required minlength="5" maxlength="20"
				ngModel name="empName" #empName="ngModel" (change)="regValidation(empName)">
			<div class="alert alert-danger" *ngIf="empName.invalid && empName.touched">
				<div *ngIf="empName.errors.required">Name is mandatory</div>
				<div *ngIf="empName.errors.minlength">
					Current length is {{empName.errors.minlength.actualLength}}
					but min length required is {{empName.errors.minlength.requiredLength}}
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="curAdress">Current Address</label>
			<textarea ngModel name="curAddress" rows="3" cols="50" class="form-control" required> </textarea>
		</div>
		<div class="form-group">
			<label for="perAddress">Permenant Address</label>
			<textarea ngModel name="perAddress" rows="3" cols="50" class="form-control" required></textarea>
		</div>
		<div class="form-group">
			<label >Technologies</label>
			<div>
				<input type="checkbox" ngModel name="uiTech"> UI Technology
				<input type="checkbox" ngModel name="backEndTech"> BackEnd Technology
				<input type="checkbox" ngModel name="tester"> Testing Technology
			</div>
		</div>
		<div class="form-group">
			<label for="gender">Gender</label>
			<select ngModel name="gender" id="gender" class="form-control">
				<option value="">SELECT</option>
				<!-- <option *ngFor="let g of gender" [value]="g.genderId">{{g.genderName}}</option> -->
				<!-- Here in options [value] can store string  & [ngValue] we can store objects -->
				<option *ngFor="let g of gender" [ngValue]="g">{{g.genderName}}</option>
			</select>
			<label>Device Preference</label>
			<div class="radio" *ngFor="let sp of systemPreference">
				<label>	<input type="radio" ngModel name="devicePreference" [value]="sp">{{sp.sysName}}</label>
			</div>
		</div>
		<button class="btn btn-primary" [disabled]="!empRegForm.valid">Submit</button>
	</div>
	<!-- {{empRegForm.value|json}} -->
</form>
