<div class="col-xs-12 col-md-12 col-md-12 col-lg-12">
  <div style="text-align:center">
    <h2>REGISTRATION</h2>
  </div>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/register/employee-registration']">Employee</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/register/security-registration']">Security</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/register/contract-registration']">Contract</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>